<div>
    <p>Xin Chào, <span>{{name}}</span></p>
    <p>Cảm ơn bạn đã đăng ký dịch vụ của chúng tôi, vui lòng nhấn vào "Mật khẩu mới" để tiếp tục sử dụng dịch vụ</p>
    <p>Xin cảm ơn!</p>
    <a  href="http://localhost:8080/api/verify_password_reset_token?token={{token}}&email={{email}}&name={{name}}&type={{type}}"
        style="text-decoration: underline; cursor: pointer"
    >
        Mật khẩu mới
    </a>
    <p><b><i><u>Email chỉ có hiệu lực trong 5 phút!</u></i></b></p>
    <br>
    <p>Thế giới cá và thủy sinh</p>
</div>