@use '../abstracts/variables' as *;

// RESPONSIVE BREAKPOINT
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 767px) {
      font-size: $font-phone;
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: $font-tablet;
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1024px) {
      font-size: $font-desktop;
      @content;
    }
  }
}

// UNDERLINE ANIMATION
@mixin underline-animation($bg-color, $height) {
  &::before {
    content: "";
    width: 0;
    position: absolute;
    top: 80%;
    left: 0;
    height: $height;
    background-color: $bg-color;
    transition: width .3s;

    @include respond(tablet) {
      height: 0.7*$height;
      top: 100%;
    }    
    @include respond(phone) {
      height: 0.7*$height;
      top: 100%;
    }
  }
  &:hover::before {
    width: 100%;
  }
}

// DROPDOWN MENU
@mixin dropdown-menu {
  position: absolute;
  width: 210px;
  top: 100%;
  left: 0;
  background-color: rgba(41, 41, 41,0.99);
  display: none;
  transition: .3s;
  z-index: 1000;
  li {
    padding: 1rem;
  }

  @include respond(tablet){
    width: auto;
    position: relative;
    li {
      padding: 0.5rem;
      width: auto;
    }
    li a{
      font-size: 14px;
    }
  }
  @include respond(phone){
    width: auto;
    position: relative;
    li {
      padding: 0.5rem;
      width: auto;
    }
    li a{
      font-size: 14px;
    }
  }
}


// EFFECT 
@mixin bouncing-effect($time, $distanceY){
  animation: bouncing $time infinite;

  @keyframes bouncing {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY($distanceY);
    }

    100% {
        transform: translateY(0px);
    }
  }
}

@mixin text-trans($time, $distanceY) {
  animation: textTrans $time;
  @keyframes textTrans {
    0%{
        opacity: 0;
        transform: translateY($distanceY);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
}

// COMPONENTS
@mixin button-base {
  border: none;
}

@mixin draw-hexagon {
  clip-path: polygon(
    25% 5%, 
    75% 5%, 
    100% 50%, 
    75% 95%, 
    25% 95%, 
    0% 50%
  );
}

// FLEX BOX
@mixin flex-center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-space-between-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex-space-around-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@mixin flex-center-colmun {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-space-between-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-space-around-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}